.board {
    aspect-ratio: 1 / 1;
    height: min(95vh, 95vw);
    width: min(95vh, 95vw);
    display: grid;
    border: 1px solid;
}

.square {
    aspect-ratio: 1 / 1;
    display: flex; 
    justify-content: center;
    align-items: center;
    border: 1px solid;    
}

.enabledSquare {
    cursor: pointer;
    background-color: green;
}

.lastSquare {
    background-color: yellow;
    font-weight: bolder;
}